.bg__wrapper {
    position: relative;
    .bg__features {
        width: 100%;
        height: 100%;
        background: url(Polygon.svg) no-repeat;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 265px;
        opacity: .9;
    }
    .section__features {
        .wrapper__features {
            display: flex;
            gap: 20px;
            justify-content: space-between;

            margin: 60px 0 100px 0;
            .block__features {
                max-width: 740px;
                height: auto;
    
                background: rgba(2, 14, 12, 0.1);
                backdrop-filter: blur(40px);
                border: 2px solid rgb(30, 235, 205, .6);

                // &::before {
                //     content: "";
                //     position: absolute;
                //     background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgb(190, 255, 246)), color-stop(80%, rgb(2, 14, 12)));
                //     background: linear-gradient(180deg, rgb(2, 14, 12) 208%, rgb(190, 255, 246) -125%);
                //     width: 2px;
                //     height: 100%;
                //     top: 0;
                //     left: auto;
                //     z-index: -1;
                // }

                // &::after {
                //     content: "";
                //     position: absolute;
                //     background: -webkit-gradient(linear, left top, right top, color-stop(6%, rgb(190, 255, 246)), color-stop(70%, rgb(2, 14, 12)));
                //     background: linear-gradient(90deg, rgb(190, 255, 246) -20%, rgb(2, 14, 12) 32%);
                //     height: 2px;
                //     width: 100%;
                //     top: 0;
                //     z-index: -1;
                // }

                .wrapper__info {
                    display: flex;
                    flex-direction: column;
                    gap: 60px;

                    padding: 60px;
                    h4 {
                        font-weight: 700;
                        font-size: 2.25rem;
                        line-height: 150%;
                        
                        color: #FFFFFF;  
                    }
    
                    p {
                        font-size: 1.5rem;
                        line-height: 150%;
                        
                        color: #FFFFFF;  
                    }
                }
            }

            .block__svg {
                max-width: 600px;
                height: auto;
                svg {
                    width: 100%;
                    min-width: 350px;
                    height: 100%;
                }
            }
        }
    }

    @media(max-width:1040px) {
        
        .section__features {
            .wrapper__features {
                flex-direction: column-reverse;
                align-items: center;
                gap: 50px;
            }
        }
        
    }

    @media(max-width:500px) {
        .section__features {
            .wrapper__features {
                .block__features {
                    .wrapper__info {
                        gap: 30px;
                        padding: 30px;
                        h4 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }  
    }
}
