.bg__wrapper {
    position: relative;
    .bg__features {
        width: 100%;
        height: 100%;
        background: url(Polygon.svg) no-repeat;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 265px;
        opacity: .9;
    }
    .section__features {
        .wrapper__features {
            display: flex;
            gap: 20px;
            justify-content: space-between;

            margin: 60px 0 100px 0;
            align-items: center;

            &:nth-child(3) {
                flex-direction:row-reverse ;
            }

            .block__features {
                max-width: 740px;
                height: auto;
    
                background: rgba(2, 14, 12, 0.1);
                backdrop-filter: blur(40px);
                border: 2px solid rgba(30, 235, 205, 0.6);

                .wrapper__info {
                    display: flex;
                    flex-direction: column;
                    gap: 60px;

                    padding: 60px;
                    h4 {
                        font-weight: 700;
                        font-size: 2.25rem;
                        line-height: 150%;
                        
                        color: #FFFFFF;  
                    }
    
                    p {
                        font-size: 1.5rem;
                        line-height: 150%;
                        
                        color: #FFFFFF;  
                    }
                }
            }

            .block__svg {
                max-width: 600px;
                height: auto;
                img {
                    width: 100%;
                    min-width: 420px;
                    height: auto;
                }
            }
        }

        .global__settings {
            display: flex;
            gap: 35px;
            .global__info {
                display: flex;
                gap: 60px;
                flex-direction: column;
                h4 {
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 150%;
                    
                    color: #1EEBCD;
                     
                }

                .plugin {
                    font-weight: 700;
                    font-size: 2.25rem;
                    line-height: 150%;
                    
                    color: #FFFFFF;
                      
                }
                .btn__features {
                    max-width:520px;
                }
            }

            .text__about {
                display: flex;
                flex-direction: column;
                gap: 20px;
                 
                font-size: 1.5rem;
                line-height: 150%;
                color: #FFFFFF;

                max-width: 630px;
            }
        }
    }
    
    @media(max-width:1040px) {
        .section__features {
            .wrapper__features {
                flex-direction: column-reverse;
                align-items: center;
                gap: 50px;

                &:nth-child(3) {
                    flex-direction: column-reverse;
                }

                .block__svg {
                    img {
                        min-width: 320px;
                    }
                }
            }

            .global__settings {
                flex-direction: column;
                .global__info {
                    .btn__features {
                        width: 88%;
                        position: absolute;
                        bottom: -130px;      
                    }
                }
            }
        }

    }

    @media(max-width:500px) {
        .section__features {
            .wrapper__features {
                .block__features {
                    .wrapper__info {
                        gap: 30px;
                        padding: 30px;
                        h4 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .global__settings {
                .global__info {
                    gap: 30px;
                    h4 {
                        font-size: 2rem;
                    }

                    .plugin {
                        font-size: 1.5rem;
                    }
                }

                .text__about {
                    font-size: 1.2rem;
                }
            }
        }  
    }
}
